
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: last baseline;
    height: 100vh;
}

/* Screen adjustments */
@media screen and (max-width: 300px) {
    #code-title-text {
        width: 100%;
    }
}
@media screen and (min-width: 300px) {
    #code-title-text {
        width: 70%;
    }
}
@media screen and (min-width: 500px) {
    #code-title-text {
        width: 50%;
    }
}
@media screen and (min-width: 750px) {
    #code-title-text {
        width: 40%;
    }
}
@media screen and (min-width: 1000px) {
    #code-title-text {
        width: 50%;
    }
}

/* Group - QR code, h3, p */
#code-title-text {
    background-color: hsl(0, 0%, 100%); 
    border-radius: 5%;
    text-align: center;
    display: block;
    margin: auto;
}
#code-title-text h1, #code-title-text p {
    font-family: "Outfit", sans-serif;  
    width: 80%; 
    margin: auto;
}
#code-title-text h1 {
    color:  hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 19.2px; /* Value converted from [font-size: large;] */
    margin-bottom: 15px;
}
#code-title-text p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 25px;
}

#qrcode {
    border-radius: 5%;
    width: 90%;
    margin: 10px;
}

/* Footer */
.attribution {
    width: 100%;
    margin-bottom: 0px;
}